body{
	background-color:  #00171F; 
}

header{
	display: block;
}

img{
	vertical-align: middle;
	border: 0;
}

p{
	margin: 0 0 12px;
}

ul.navbar-nav li.nav-item{
	margin-left: 8px;
}

.banner{
	position: relative;
	min-height: 100px;
	background: #EDEDED;
	padding: 50px 0 50px;
}

.banner h2{
	padding: 0;
	margin: 0;
	font-weight: 700;
	font-size: 85px;
	color: #FCA331;
	font-family: poppins;
}

.banner p{
	margin-top: 10px;
	margin-right: 10px;
	font-size: 16px;
	color: black;
	font-family: roboto;
}

.banner button{
	margin-top: 5px;
	width: 120px;
	height: 40px;
	font-size: 16px;
}

.pict{
  width: 100%;
  max-height: 500px;
}

.tools{
	padding: 50px 0 50px;
	justify-content: center;
	align-content: center;
}

.tools h3{
	color:white;
	text-align: center;
	font-family: roboto;
	font-size: 24pt;
}

.tools img{
	margin-top: 50px;
	width: 70%;
	height: 200px;
	justify-content: center;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.tools h2{
	margin-top: 10px;
	color: #FCA331;
}

.tools p{
	margin-top: 5px;
	color: white;
}

.book{
	padding: 100px 0 50px;
	justify-content: center;
	align-content: center;
}

.book h3{
	color:white;
	margin-bottom: 15px;
	font-family: roboto;
	font-size: 24pt;
}

.modal-header{
	display: block;
	align-content: center;
	text-align: center;
}

.modal-header button{
	color:white;
}

.modal-content{
	background-color: #2f3640;
}

.modal-body label{
	color:white;
}

.btn-orange{
	color: #fff;
	background-color: #ff6122;
	border-color: transparent;
}

.btn-grey{
	color: #222;
	background-color: #eee;
	border-color: #eee;
}

.btn.btn-orange span{
	color: #fff;
}

.span-bold{
	font-weight: bold;
}

.text-white{
	color: #fff;
}

.image-placeholder{
	display: block;
	width: 256px;
	height: 400px;
	background-color: #eee;
	border: 1px solid #eee;
	margin: 0 auto;
	position: relative;
}

#profile-dropdown .avatar{
	display: inline-block;
	position: relative;
	top: -2px;
	margin-right: 6px;
	background-color: transparent;
}

.avatar .avatar-sm{
	width: 32px;
	height: 32px;
}

.avatar.avatar-profile{
	width: 96px;
	height: 96px;
}

.avatar img{
	border-radius: 50%;
}

.avatar {
	border-radius: 50%;
	display: block;
	background-color: #eee;
}

.profile-layout #edit{
	margin-top: 12px;
	margin-right: 8px;
	float: right;
	position: relative;
	z-index: 2;
}

.profile-layout header.background-lg{
	position: relative;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-bottom: 2px rgba(111,111,111,.5) solid;
}

.background.background-lg p{
	margin-top: 6px;
}

.profile-layout header.background-lg #alias{
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 26px;
}

.profile-layout header.background-lg #age{
	font-size: 15px;
	line-height: 15px;
	margin-bottom: 12px;
}

.profile-layout header.background-lg .badges{
	margin: 12px 0 6px 0;
}

.profile-layout header.background-lg .badges .profile-name{
	margin: 0;
}

.profile-layout header.background-lg h1{
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	text-shadow: 0 0 10px rgba(0,0,0,.5);
	margin:12px 0 6px 0;
	display: inline-block;
}

.profile-layout header.background-lg .avatar-profile{
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.profile-layout header.background-lg .avatar img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.background.background-lg{
	padding-top: 54px;
}

.background{
	width: 100%;
	color: #fff;
	text-align: center;
	border-color: #6f6f6f;
	background-position: center center;
	background-repeat: repeat;
	background-size: cover;
}

.badges{
	display: webkit-inline-box;
	display: ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items: center;
}

.center-block{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dropdown-menu{
	background: #2f3640;
}

.dropdown-menu a{
	color: white;
}

.dropdown-menu a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.search{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height: 50px;
	border-radius: 50px;
	padding: 5px;
}

.search:hover > .search-text{
	width: 240px;
	padding: 0 6px;
}

.search:hover > .search-btn{
	background:white;
}

.search-btn{
	color:#0466C8;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
}

.search-text{
	border:none;
	background: none;
	border-radius: 5%;
	outline: none;
	float: left;
	padding: 0;
	color:white;
	font-size: 12px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
}

.login-card {
	max-width: 350px;
	padding: 40px 40px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 auto 25px;
	margin-top: 125px;
	border-radius: 2px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.login-card .profile-img-card {
	width: 225px;
	margin: 0 auto 20px;
	display: block;
}

.login-card .profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}

.login-card .reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.login-card .form-signin input[type=email],
.login-card .form-signin input[type=password],
.login-card .form-signin input[type=text],
.login-card .form-signin button {
	height: 44px;
	font-size: 16px;
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	box-sizing: border-box;
}

.login-card label {
	color: white !important;
}

.login-card .form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.login-card .btn.btn-signin {
	font-weight: 700;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	background: #00af54;
	border-radius: 3px;
	border: none;
	transition: all 0.218s;
	padding: 0;
}

.login-card .btn.btn-signin:hover,
.login-card .btn.btn-signin:active,
.login-card .btn.btn-signin:focus {
	background: rgb(12, 97, 33);
}

.login-card .forgot-password {
	color: rgb(104, 145, 162);
}

.login-card .forgot-password:hover,
.login-card .forgot-password:active,
.login-card .forgot-password:focus {
	color: rgb(12, 97, 33);
}

.reg-card{
	max-width: 450px;
	height: 600px;
	padding: 40px 40px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0 auto 25px;
	margin-top: 50px;
	border-radius: 2px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.reg-card img{
	width: 300px;
	margin: 0 auto 25px;
	display: block;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	color:white;
	margin: 3px;
}

.input-group input {
	height: 40px;
	width: 100%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.btn-regis {
	padding: 10px;
	font-size: 15px;
	color: white;
	width: 100%;
	background: #3777ff;
	border: none;
	border-radius: 5px;
}

.btn-regis:hover{
	background: #2b50aa;
}

.btn-sign {
	padding: 10px;
	font-size: 15px;
	color: white;
	width: 100%;
	background: #00af54;
	border: none;
	border-radius: 5px;
}

.btn-sign:hover{
	background: rgb(12, 97, 33);
}

.error {
	width: 92%;
	margin: 0px auto;
	padding: 10px;
	border: 1px solid #a94442;
	color: #a94442;
	background: #f2dede;
	border-radius: 5px;
	text-align: left;
}

.success {
	color: #3c763d;
	background: #dff0d8;
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

